TEAM_ID=
APP_ID=com.app.id
APP_NAME=AppName

BUNDLE_ID_SUFFIX_Debug = .debug
BUNDLE_ID_SUFFIX_Release =
BUNDLE_ID_SUFFIX = $(BUNDLE_ID_SUFFIX_$(CONFIGURATION))

BUNDLE_NAME_SUFFIX_Debug =  Debug
BUNDLE_NAME_SUFFIX_Release =
BUNDLE_NAME_SUFFIX = $(BUNDLE_NAME_SUFFIX_$(CONFIGURATION))

PRODUCT_BUNDLE_IDENTIFIER = $(APP_ID)$(BUNDLE_ID_SUFFIX)
PRODUCT_NAME = $(APP_NAME)$(BUNDLE_NAME_SUFFIX)

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.0
